appdirs==1.4.0
click==6.6
netaddr==0.7.18
netifaces==0.10.5
python-nmap==0.6.1
PyYAML==3.12
requests==2.12.1
-e git://github.com/phaethon/scapy.git@4bc29f3249b68c4304f27180fa0ef94602aca8bc#egg=scapy_python3
texttable==0.8.7
